h1{
    color: blue;
}

#one{
    color:crimson;
}

p{
    color:olive;
}

.fr{
    color:red;
    background-color:burlywood
}

.vg{
    color:orange;
    background-color:chartreuse
}

h3{
    color:goldenrod;
}



