h1 {
    color:blue;
    background-color:yellow;
}
p{
    color:orange;
}
#one{
    color:green;
}
.fr{
    color:red;
    background-color:black;
}
.vag{
    color:aqua;
    background-color: yellowgreen;
}
h2{
    color: blueviolet;
}